.nav-bar{
    display: flex;
    flex-direction: column;
    width:55%;
    height: auto;
}

#background-change-span{
    display: flex;
    flex-direction: row;
    padding: 0.2rem;
    width:4rem;
    height: 2rem;
    position: absolute;

}

#logo-change-white{
    display: flex;

}
#logo-change-dark{
    display: flex;
}


.menu-groups-title{
    display: flex;
    width: 60%;
    height: 20%;
    justify-content: center !important;
    align-items: center;
    border-radius: 7px;
    font-size: 1.5rem;

}

#burgers-head-title{
    display: flex;
    width: 50%;
    height: 0.5rem;
    justify-content: center;
    align-items: center;
    font-size: 80% !important;

}


.menu-public{
    display: flex;
    flex-direction: column;
    width: 75%;
    justify-content: center;
    align-items: center;
  

}

.menu-groups{
    display: flex;
    flex-direction: column;
    width: 85%;
    justify-content: center;
    align-items: center;
    padding: 5%;
}




/* 
<span id="right-nav-bar">
<a class="rightMenu" id="menu-burger-part" href="#menu-burgers"><img id="burgers-Logo" src="assets/kıyma-kasar.jpg" alt=""></a>
<a class="rightMenu" id="menu-burger-part" href="#menu-spagetti"><img id="burgers-Logo" src="assets/kebap2.jpg" alt=""></a>
<a class="rightMenu" id="menu-burger-part" href="#menu-fruit"><img id="burgers-Logo" src="assets/künefe.jpg" alt=""></a>
<a class="rightMenu" id="menu-burger-part" href="#menu-drink"><img id="burgers-Logo" src="assets/drink.jpg" alt=""></a>

</span>

 */






#right-nav-bar{
    display: flex;
    width: 4.1rem;
    justify-content: center;
    align-items: center;
    

}

/* #burgers-Logo{
    display: flex;
    width: 100%;
    margin: 0rem;
    height: 100%;
} */


#menu-burger-part{
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0rem;
}




/* .menu-groups-title{
    display: flex;
    width: 90%;
    height: auto;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.644);
    border-radius: 1rem;
    color: white;
    font-size: 1.5rem;

  
  
  } */
